body {
    background-color: #808080;
    margin: 0;
    left: 0;
}

/* ///////// helpers //////////////// */

.hide {
    display: none;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-b {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.margin-bottom {
    margin-bottom: 10px;
}

.column {
    flex-direction: column;
}

.around {
    justify-content: space-around;
}

/* ///////////////// header /////////// */

nav {
    background-color: #ff7f00;
    height: 65px;
    width: 100vw;
}

.hamburger-btn {
    display: none;
}

.logo {
    width: 133px;
    height: 22px;
    margin-left: 11px;
}

.gallery-btn, .memes-btn {
    margin-right: 30px;
}

.about-btn {
    margin-right: 57px;
}

.clean-li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 10px;
    font-family: Impact;
}

li:hover {
    /* text-shadow: 0 1px 0 #1e1e1e; */
    color: black;
    border-bottom: 3px solid black;
    box-shadow: inset;
}

.search {
    background-color: white;
    height: 100px;
    width: 100vw;
    /* margin: 0 5px; */
}

/* ///////////////// gallery ////////////////// */

.gallery-page {
    width: 100vw;
    /* height: 930px; */
}

.gallery {
    /* height: 100vh; */
    width: 100vw;
}

.img {
    height: 150px;
    width: 150px;
    margin: 20px 20px;
}

.img-area {
    height: 305px;
    width: 305px;
}

.img:hover {
    /* border-: 2px solid black; */
    color: rgba(245, 245, 220, 0.514)
}

/* /////////////////// saved imgs  ////////////////////////////////// */

.savedImgs {
    min-height: 500px;
    width: 100vw;
    background-color: rgb(230, 46, 46);
}

/* ///////////////// editor ////////////////// */

.editor-page {
    width: 100vw;
    height: 500px;
    background-color: white;
}

.editor {
    width: 100%;
    height: 100%;
    /* margin: 0 5vw; */
}

.editor-board {
    height: 100%;
    /* flex-basis: 50%; */
    /* margin: 5px; */
}

.container {
    background-color: rgba(255, 230, 0, 0.363);
    height: 450px;
    width: 350px;
}

/* ///////////////// editor board//////////////// */

button img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.txt-box {
    margin-top: 5px;
    height: 30px;
    width: 90%;
    border-radius: 20px;
}

.txt-box button {
    margin: 10px;
    cursor: pointer;
}

.btn-box {
    background-color: aqua;
}

.color-icons {
    display: flex;
    cursor: pointer;
}

.color-icons img {
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
}

.color-icons input {
    position: absolute;
    cursor: pointer;
}

.lung-btn {
    cursor: pointer;
}

/* ////////////////canvas////////////////// */

.canvas-area {
    height: 90vh;
    /* flex-basis: 50%; */
    margin: 5px;
}

canvas {
    display: block;
    border: 1px solid black;
}

canvas input {
    border: 2px solid black;
}

/* //////////////// footer ///////////////// */

footer {
    background-color: #ff7f00;
    height: 207px;
    width: 100vw;
}

/* ////////////////// fonts ////////////////// */

.roboto {
    font-family: 'Roboto', sans-serif;
}

.girassol {
    font-family: 'Girassol', cursive;
}

/* ///////////////////////////// iphone //////////////////////////////////////////////// */

/* ///////////////////////////// iphone //////////////////////////////////////////////// */

@media screen and (max-width: 960px) {
    body {
        /* display: flex; */
    }
    .cover {
        margin: 0;
        left: 0;
        height: 100%;
        width: 100vw;
        position: fixed;
        background-color: rgba(14, 11, 11, 0.651);
    }
    .modal {
        margin: 0px;
        right: 0px;
        height: 50%;
        width: 20vw;
        background-color: rgba(255, 215, 82, 0.781);
        position: absolute;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
    }
    ul {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        height: 300px;
        width: 20vw;
        z-index: 100;
        transition: transform 1s;
        transform: translate(100%, 0);
    }
    ul.open {
        transform: translate(0, 0);
        justify-content: start;
    }
    /* .gallery-btn, .memes-btn, .about-btn {
        display: flex;
        flex-direction: column;
    } */
    li {
        background-color: rgba(168, 154, 154, 0.884);
        color: black;
        margin-top: 20px;
    }
    /* li:hover {
        color: black;
        border-bottom: 3px solid black;
        box-shadow: inset;
    } */
    .gallery-btn, .memes-btn, .about-btn {
        margin-right: 5px;
        width: 60%;
    }
    /* .about-btn {
        margin-right: 57px;
    } */
    /* ///////////////// header /////////// */
    nav {
        /* background-color: #ff7f00; */
        height: 65px;
        /* width: 100%; */
    }
    .hamburger-btn {
        display: block;
        margin-right: 30px;
    }
    .menu-btn {
        height: 30px;
    }
    .logo {
        width: 120px;
        height: 22px;
        padding-left: 10px;
        margin-left: 0px;
    }
    .clean-li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .search {
        background-color: white;
        height: 70px;
        /* width: 100%; */
    }
    /* ///////////////// gallery ////////////////// */
    .gallery-page {
        width: 100%;
        /* height: 930px; */
    }
    /* .gallery {
        height: 100vh; 
        width: 95%;
    } */
    .img {
        height: 150px;
        width: 150px;
        margin: 20px 20px;
    }
    .img-area {
        height: 305px;
        width: 305px;
    }
    .img:hover {
        /* border-: 2px solid black; */
        color: rgba(245, 245, 220, 0.514)
    }
    /* ///////////////// editor ////////////////// */
    .editor-page {
        min-width: 100vw;
        height: 100%;
        background-color: white;
    }
    .editor {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* margin: 0 5vw; */
    }
    .editor-board {
        height: 100%;
        /* flex-basis: 50%; */
        margin-bottom: 20px;
        height: 350px;
        width: 350px;
    }
    .container {
        background-color: rgba(255, 230, 0, 0.363);
        height: 300px;
        width: 300px;
    }
    .txt-box {
        margin-top: 5px;
        height: 30px;
        width: 90%;
        border-radius: 20px;
    }
    /* ///////////////// editor board//////////////// */
    button img {
        height: 20px;
        width: 20px;
        cursor: pointer;
    }
    .line1, .line2, .line3 {
        height: 50px;
        margin: 2px;
    }
    .txt-box button {
        margin: 10px;
        cursor: pointer;
    }
    /* ////////////////canvas////////////////// */
    .canvas-area {
        height: 100%;
        margin: 5px;
    }
    canvas {
        display: block;
        border: 1px solid black;
        height: 300px;
        width: 300px;
    }
    canvas input {
        border: 2px solid black;
    }
    /* //////////////// footer ///////////////// */
    footer {
        background-color: #ff7f00;
        height: 100px;
        width: 100vw;
    }
}